{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bracket Page :D</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- jQuery Bracket css -->
    <link href= "{% static "main/css/jquery.bracket.min.css" %}" rel = "stylesheet">

    <!-- Custom CSS -->
    <link href= "{% static "main/css/custom.css" %}" rel = "stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--
    http://www.aropupu.fi/bracket/#save
-->
<!--
    <div class = "container-fluid">
        <div id="target">Loading...</div>
        <p> other stuff below </p>
        <div class="bracketRow">
            <div class="row">
                <div class="col-xs-1">
                    <div class="btn-group match-block" data-toggle="buttons">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Player 1
                        </button>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> W
                        </label>
                    </div>
                </div>
                <div class="col-xs-1">
                    <div class="btn-group match-block" data-toggle="buttons">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Player 1
                        </button>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> W
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-1 match-block">
                    <div class="btn-group" data-toggle="buttons">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            Player 2
                        </button>
                        <label class="btn btn-primary">
                            <input type="radio" name="options" id="option2" autocomplete="off"> W
                        </label>
                    </div>
                </div>
            </div>
        </div> -->



        <!-- Modal
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- jquery bracket min js -->
    <script src= "{% static "main/js/jquery.bracket.min.js" %}"></script>
        
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- mustache.min.js local js -->
    <script src= "{% static "main/js/mustache.min.js" %}"></script>

    {% verbatim %}
    <script id="template" type="x-tmpl-mustache">
        {{#bold}}{{stooges}}{{/bold}}
        <!--
            <div class="row">
              <div class="col-xs-1 match-block">
                <div class="btn-group" data-toggle="buttons">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                        Launch demo modal
                    </button>
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="option2" autocomplete="off"> W
                    </label>
                </div>
              </div>
            </div>-->
    </script>
    <script type="text/javascript">

        var saveData = {
            teams : [
              ["Team 1", "Team 2"], /* first matchup */
              ["Team 3", "Team 4"]  /* second matchup */
            ],
            results : [[1,0], [2,7]]
          }
         
        /* Called whenever bracket is modified
         *
         * data:     changed bracket object in format given to init
         * userData: optional data given when bracket is created.
         */
        function saveFn(data, userData) {
          var json = jQuery.toJSON(data)
          $('#saveOutput').text('POST '+userData+' '+json)
          /* You probably want to do something like this
          jQuery.ajax("rest/"+userData, {contentType: 'application/json',
                                        dataType: 'json',
                                        type: 'post',
                                        data: json})
          */
        }
         
        $(function() {
            var container = $('div#save .demo')
            container.bracket({
              init: saveData,
              save: saveFn,
              userData: "http://myapi"})
         
            /* You can also inquiry the current data */
            var data = container.bracket('data')
            $('#dataOutput').text(jQuery.toJSON(data))
          })

        var matchData = {
          teams : [
            ["Team 1", "Team 2"],
            ["Team 3", "Team 4"]
          ],
          results : [
            [[4,3,'Match 1'], [3,4,'Match 2']],
            [[8,6,'Final'], [2,3,'Consolation final']]
          ]
        }
         
        function onclick(data) {
          $('#matchCallback').text("onclick(data: '" + data + "')")
        }
         
        function onhover(data, hover) {
          $('#matchCallback').text("onhover(data: '" + data + "', hover: " + hover + ")")
        }
         
        $(function() {
          $('#matches .demo').bracket({
            init: matchData,
            onMatchClick: onclick,
            onMatchHover: onhover
          })
        })
        /*
            {{#stooges}}
                {{#bold}}
                    {{name}}
                {{/bold}}
            {{/stooges}}*/
        $(document).ready(function () {
            loadUser();
        });
        function bracketCellHtml(visibility) {
            var player1Html = '<div class="col-xs-2"><div class="match-block btn-group" data-toggle="buttons"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Player 1</button><label class="btn btn-primary"><input type="radio" name="options" id="option2" autocomplete="off">W</label></div></div>';
            return player1Html;
        }
        function loadUser(bracketSize) {
            var data = {
                "stooges": [
                    { "name": "Moe" },
                    { "name": "Larry" },
                    { "name": "Curly" }
                ],
                "bold": function () {
                    return function (text, render) {
                        //prep work
                        var playerCount = bracketSize, i, j;
                        var colCount = 17//playerCount * 2 - 1;
                        var rowCount;
                        var rowHtml = "";
                        var inside = "";
                        //calc rowCount from playerCount
                        rowCount = 4;
                        for (i = 1; i <= colCount; i += 1) {
                            rowHtml = '';
                            rowHtml += '<div class="bracketRow">';
                            rowHtml += '<div class="row">';
                            //each top cell
                            for (j = 1; j <= rowCount; j += 1) {
                                var visibility = false;
                                if (j % 2 == 0) {
                                    visibility = false;
                                }else{
                                    visibility = true;
                                }
                                rowHtml += bracketCellHtml(visibility);//player1Html;
                            }
                            rowHtml += '</div>';
                            rowHtml += '<div class="row">';
                            //each bottom cell
                            for (j = 1; j <= rowCount; j += 1) {
                                var visibility = false;
                                if (j % 2 == 0) {
                                    visibility = false;
                                }else{
                                    visibility = true;
                                }
                                rowHtml += bracketCellHtml(visibility);//player1Html;
                            }
                            rowHtml += '</div>';
                            rowHtml += '</div>';
                            inside += rowHtml;
                        }
                        
                        
                        return '<div class = "bracket">' + inside + '</div>';
                        //return 'div class="bracketRow">' + render(text) + '</div>';
                    }
                }
            };
            var template = $('#template').html();
            Mustache.parse(template);   // optional, speeds up future uses
            var rendered = Mustache.render(template, data);
            $('#target').html(rendered);
        }
    </script>
    {% endverbatim %}
  </body>
</html>