{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bracket Page :D</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- jQuery Bracket css -->
    <link href= "{% static "main/css/jquery.bracket.min.css" %}" rel = "stylesheet">

    <!-- bootstrap-formhelper css -->
    <link href= "{% static "main/css/bootstrap-formhelpers.min.css" %}" rel = "stylesheet">

    <!-- Custom CSS -->
    <link href= "{% static "main/css/custom.css" %}" rel = "stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id = "players" class = "players">
        
    </div>
    <div id="doubleElimination">
      <h3 class = "matchCallback" id = "matchCallback">Double elimination</h3>
      <div class = "demo"></div>
    </div>
    <form action="moo" method="put" class="form" id="post_form">
        {% csrf_token %}
    </form>

    <!-- Modal-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                <form>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputAmount">Player 1 Scores</label>
                      <div class="input-group">
                        <div class="input-group-addon">Player 1 Name</div>
                        <input type="text" class="form-control bfh-number" name="player1score">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="exampleInputAmount">Player 2 Scores</label>
                      <div class="input-group">
                        <div class="input-group-addon">Player 2 Name</div>
                        <input type="text" class="form-control bfh-number" name="player2score">
                      </div>
                    </div>
                </form>
                
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveModalForm()">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- jquery bracket min js -->
    <script src= "{% static "main/js/jquery.bracket.min.js" %}"></script>

    <!-- jquery bracket min js -->
    <script src= "{% static "main/js/bootstrap-formhelpers.js" %}"></script>
        
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- mustache.min.js local js -->
    <script src= "{% static "main/js/mustache.min.js" %}"></script>

    {% verbatim %}
    <script type="text/javascript">

    var bracket_data, bracket_position;
      function saveModalForm() {
        data = bracket_position;
        bracket_data = $('div#doubleElimination .demo').bracket('data');
        var player1score = parseInt($('input[name="player1score"]').val());
        var player2score = parseInt($('input[name="player2score"]').val());
        bracket_data.results[data[2]][data[3]][data[4]][0] = player1score;
        bracket_data.results[data[2]][data[3]][data[4]][1] = player2score;
        //if player1score >
        saveFn(bracket_data);
      }
      function saveFn(data) {
        //$('#saveOutput').text('POST '+userData+' '+json)
        var bracket = {
                          "csrfmiddlewaretoken": $('input[name="csrfmiddlewaretoken"]').val(),
                          "name": "moo",
                          "dataJSON": JSON.stringify(data),//.replace(/"/g, "'"),
                      };
        //var bracket =  "{'csrfmiddlewaretoken': '" + getCookie('csrftoken') + "', 'id': 1, 'name': 'moo', 'dataJSON': '" + JSON.stringify(data) +  "'}";
        console.log(JSON.stringify(data));
        //console.log(bracket);
        //console.log(JSON.stringify(bracket));
        putJson(bracket);
        /* You probably want to do something like this
        jQuery.ajax("rest/"+userData, {contentType: 'application/json',
                                      dataType: 'json',
                                      type: 'post',
                                      data: json})
        */
      }
      function updateMyModal(player1id, player2id, player1score, player2score) {
        console.log(player1id);//$('#myModal').modal('show')
        console.log(player2id);
        console.log(player1score);
        console.log(player2score);
        //console.log();
      }
      function onclick(data) {
        console.log("this test");
        console.log(this);
        /*

          data[0] = player1id
          data[1] = player2id
          data[2] = 0 : winner/1 : loser bracket
          data[3] = match number of that bracket
          data[4] = player
          data[2][3][4][0] = player1score
          data[2][3][4][1] = player2score

        */
        bracket_data = $('div#doubleElimination .demo').bracket('data');
        console.log(bracket_data);
        console.log(bracket_data.results[data[2]][data[3]][data[4]]);
        //bracket_data.results[data[0]][data[1]][data[2]][0] = p1score;
        //bracket_data.results[data[0]][data[1]][data[2]][1] = p2score;
        var player1id = bracket_data.results[data[2]][data[3]][data[4]][2][0];
        var player2id = bracket_data.results[data[2]][data[3]][data[4]][2][1];
        var player1score = bracket_data.results[data[2]][data[3]][data[4]][0];
        var player2score = bracket_data.results[data[2]][data[3]][data[4]][1];

        console.log(bracket_data.results[data[2]][data[3]][data[4]]);
        updateMyModal(player1id, player2id, player1score, player2score);
        bracket_position = data;
        $('#myModal').modal('show');


        //console.log($('#matchCallback').bracket('data').results);
        //$('#matchCallback').bracket('data');
        $('#matchCallback').text("onclick(data: '" + data + "')");
        //saveFn(bracket_data);
      }
       
      function onhover(data, hover) {
        $('#matchCallback').text("onhover(data: '" + data + "', hover: " + hover + ")")
      }
      function refreshBracket(useJSON) {
        if (useJSON == false) {
            $('div#doubleElimination .demo').bracket({
                init: bracket_data,//.replace(/\"/g, '"'),
                onMatchClick: onclick,
            });
        }else{
            $.getJSON("/data/bracket/1", function (json) {
                console.log("loading data");
                console.log(JSON.parse(json.dataJSON));
                $('div#doubleElimination .demo').bracket({
                    init: JSON.parse(json.dataJSON),
                    //save: saveFn,
                    onMatchClick: onclick,
                    //onMatchHover: onhover,
                    userData: "http://moo"
                });
            });
        }
      }
        $(document).ready(function () {
            refreshBracket(true);
        });
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    function sameOrigin(url) {
        // test that a given url is a same-origin URL
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                    // or any other URL that isn't scheme relative or absolute i.e relative.
                !(/^(\/\/|http:|https:).*/.test(url));
    }
    function putJson(json) {
        console.log("putJson");
        console.log(json);
        refreshBracket(false);
        json_string = JSON.stringify(json);//'"' + JSON.stringify(json).replace(/\\/g, '') + '"';
        console.log(json_string);
        //json_string = JSON.stringify(json);//.replace(/\"/g, '"');//"/g, "'");//.replace(//"/g, '"');
        $.ajaxSetup({
                        beforeSend: function (xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                                // Send the token to same-origin, relative URLs only.
                                // Send the token only if the method warrants CSRF protection
                                // Using the CSRFToken value acquired earlier
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        }
                    });
        $.ajax({
                   type: 'PUT',
                   url: "/data/bracket/1",
                   data: json_string,
                   crossDomain: false,
                   contentType: "application/json; charset=utf-8",
                   dataType: "json",
                   success: function () {
                        console.log("did it :D");
                   },
                   error: function() {
                        console.log("Failed to update bracket D:");
                    }
               });
    }
    </script>
    {% endverbatim %}
  </body>
</html>